{% extends 'admin/index.html.twig' %}
{% form_theme edit_form 'form/fields.html.twig' %}
{% block body_id 'admin_user_edit' %}
        
    {% block main %}
        <h1>{{ 'title.edit_user'|trans({'%id%': user.id}) }}</h1>

        {{ include('form/_form.html.twig', {
        form: edit_form,
        button_label: 'action.save'|trans,
        include_back_to_home_link: true,
    }, with_context = false) }}

    {% endblock %}

    {% block sidebar %}

        <div class="section">
            <a href="{{ path('admin_user_index') }}" class="btn btn-lg btn-block btn-default">
                <i class="fa fa-reply"></i>{{ 'action.back_to_list'|trans }}
            </a>
        </div>
    {% endblock %}

